<% page = index %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>

  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-13">
        <div class="wrapper">
          <div class="hide">
            <h2>专业的微商城系统</h2>
            <h4>一体化的新零售全渠道解决方案</h4>
            <h5>快速获客</h5>
            <h6>帮助商家更有效的获取新客户</h6>
            <p>
              一键对接互联网社交流量平台（小程序、微信、QQ、微
              博、今日头条等）获取外部新粉丝营销顾问专业培训获客
              技巧，成本可控对接流量联盟
            </p>
          </div>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
