<% page = index %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>

  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>专业的微商城系统</h2>
            <h4>一体化的新零售全渠道解决方案</h4>
            <h5>快速获客</h5>
          </div>
          <button class="hide-action action-try-4">点击咨询</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
