.index {
  position: relative;
  .module {
    background: no-repeat top center / auto 100%;
  }
  .module-1 {
    .module;
    height: 593px;
    background-image: url(../../static/assets/price0/001.png);
    .action-try-3 {
      top: 353px;
      left: 496px;
    }
  }
}
