<% page = client05 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>

  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>为超过36个行业和场景 提供经营解决方案</h2>
            <h4>
              方太 | 飞利浦 | 格力 | 安踏 | 乔丹 青岛啤酒 | 星巴克 | 天府通
            </h4>
            <h5>快速获客</h5>
          </div>
          <button class="hide-action action-try-4">点击咨询</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维客户案例</h2>
            <h4>行业一致选择，优质的口碑，鲜活的案例</h4>
            <h5>TCL / 电子产品</h5>
            <p>创意感到生活</p>
            <h5>格力 / 家电产品</h5>
            <p>让世界爱上中国造</p>
            <h5>九阳 / 健康饮食电器</h5>
            <p>创造健康生活</p>
            <h5>安踏 / 体育用品</h5>
            <p>永不止步keep moving</p>
            <h5>森马 / 休闲服饰</h5>
            <p>挑创大众服饰名牌</p>
            <h5>韩都衣舍 / 时尚女装</h5>
            <p>专注年轻时尚女装品牌</p>
            <h5>青岛啤酒 / 啤酒生产</h5>
            <p>世界品牌500强</p>
            <h5>小龙坎 / 知名火锅</h5>
            <p>四川知名特色火锅</p>
            <h5>星巴克 / 咖啡烘焙</h5>
            <p>世界上首屈一指</p>
          </div>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
