<% page = price0 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>0元咨询服务开启</h2>
          </div>
          <button class="hide-action action-try-3">点击进入</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>我的服务</h2>
            <h4>全行业全场景的电商解决方案</h4>
          </div>
          <button class="hide-action action-try-3">点击进入</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
