<% page = education23 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维教育</h2>
            <p>教育机构的互联网经营解决方案，为您实现</p>
            <p>多校区一体化经营管理</p>
          </div>
          <button class="hide-action action-try-4">点击咨询</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>招生拓客</h2>
            <strong>丰富的营销工具，精细化线索管理降低招生成本</strong>
            <p>线索管理，打造标准化流程，提效线索跟进</p>
            <p>课程拼团，口碑营销，持续性招生拓客</p>
            <p>自定义报名表单，高效完成引流、追踪、转化</p>
          </div>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <div class="hide">
            <h2>教务管理</h2>
            <strong>好用的教务管理，提升体系化运营效率你不再费心费力</strong>
            <p>好用的教务管理，提升体系化运营效率你不再费心费力</p>
            <p>快速查看日历课程表，提前一键预约</p>
            <p>扫码、点名多种途径消课，课时消耗自动记录</p>
          </div>
        </div>
      </section>
      <section class="module-4">
        <div class="wrapper">
          <div class="hide">
            <h2>学员管理</h2>
            <strong>基于全生命周期的学员管理，让你持续挖掘单客价值，续费有保障</strong>
            <p>高效管理学员周期，激活新学员、续费老学员</p>
            <p>清晰收录学员信息，实现差异化个性营销</p>
            <p>记录学员成长轨迹，提升学员满意度和续费</p>
          </div>
        </div>
      </section>
      <section class="module-5">
        <div class="wrapper">
          <div class="hide">
            <h2>互动督学</h2>
            <strong>互动督学是业务闭环的重要节点让你的教学效果可感知，学员黏性更强</strong>
            <p>线索管理，打造标准化流程，提效线索跟进</p>
            <p>课程拼团，口碑营销，持续性招生拓客</p>
            <p>自定义报名表单，高效完成引流、追踪、转化</p>
          </div>
        </div>
      </section>
      <section class="module-6">
        <div class="wrapper">
          <div class="hide">
            <h2>如果你拥有多个校区</h2>
            <strong>推荐使用有赞多校区，一体化经营管理解决方案</strong>
            <h3>教务管理</h3>
            <p>总部可统筹管理教务 校区可自行操作排课消 课</p>
            <h3>课程发布</h3>
            <p>总部发布课程到指定校 区 校区可选择上下 架、修改部分字段</p>
            <h3>学员管理</h3>
            <p>总部可查看所有校区的 学员 校区可独立管理 自己的学员</p>
            <h3>在线营销</h3>
            <p>总部发布线上活动 给 各个校区招生引流，获 取更多学员</p>
            <h3>招生管理</h3>
            <p>校区可独立管理自有生 源 跟进客户名单、成 单转化</p>
            <h3>快速搭建</h3>
            <p>快速创建机构总部、校 区 一个后台搭建多校 区店铺</p>
            <h3>连锁模式</h3>
            <p>总部、校区有独立的员 工、 角色账号，管理 清晰</p>
            <h3>更多</h3>
            <p>更多功能适配连锁模式 下的新功能，持续更新 迭代</p>
          </div>
        </div>
      </section>
      <section class="module-7">
        <div class="wrapper">
          <div class="hide">
            <h2>专注服务于各类教育机构</h2>
            <strong>专注服务于各类教育机构</strong>
            <p>【亲子早教】</p>
            <p>【兴趣教育】</p>
            <p>【语言培训】</p>
            <p>【留学游学】</p>
            <p>【学科辅导】</p>
            <p>【教育院校】</p>
            <p>【职业技能】</p>
            <p>【知识付费】</p>
          </div>
        </div>
      </section>
      <section class="module-8">
        <div class="wrapper">
          <button class="hide-action action-try-5">免费试用</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
