<% page = customization28 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-4">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维定制</h2>
            <p>以更低的成本更高的效率</p>
            <p>满足商家个性化需求</p>
          </div>
          <button class="hide-action action-2 action-try-2">免费试用</button>
        </div>
      </section>
      <section class="module-5">
        <div class="wrapper">
          <div class="hide">
            <h2>全套页面自定义</h2>
            <p>不论是网上商城还是H5活动，都可以帮你实现个性化定制界面， 让你的品牌直击人心</p>
            <h2>企业内部系统无缝打通</h2>
            <p>对接企业已有的第三方系统，打通商家后端运营系统接口， 降低运营成本，实现全渠道经营</p>
            <h2>分销系统定制</h2>
            <p>直销、分销、众筹、代理发货、店中店分销、O2O分销等各种模式 的分销玩法，通过分享+信任经济模式，绑定关系更牢固</p>
            <h2>小程序定制</h2>
            <p>为你带来更多客户的会员+支付体系定制小程序，简化开发，提升效率； 满足电商、餐饮、O2O等多场景定制化需求</p>
            <h2>PC端B2C商城定制</h2>
            <p>为品牌商零售商构建个性化B2C一站式购物的网上商城系统，树立行业品牌形象 全渠道全场景的线上零售商城，打造全渠道会员互动及数据</p>
            <h2>一站式服务和资源支持</h2>
            <p>为品牌商零售商构建个性化B2C一站式购物的网上商城系统，树立行业品牌形象 全渠道全场景的线上零售商城，打造全渠道会员互动及数据</p>
          </div>
        </div>
      </section>
      <section class="module-6">
        <div class="wrapper">
          <div class="hide">
            <h2>定制流程，一站式完成</h2>
          </div>
        </div>
      </section>
      <section class="module-7">
        <div class="wrapper">
          <button class="hide-action action-2 action-try-2">免费试用</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
