.customization28 {
  position: relative;
  .module {
    background: no-repeat top center / auto 100%;
  }
  .module-4 {
    .module;
    height: 593px;
    background-image: url(../../static/assets/28/001.png);
    .action-1 {
      left: 353px;
      bottom: 80px;
    }
  }
  .module-5 {
    .module;
    height: 2092px;
    background-image: url(../../static/assets/28/002.png);
    .action-1 {
      left: 636px;
      bottom: 99px;
    }
    .action-2 {
      left: 773px;
      bottom: 99px;
    }
  }
  .module-6 {
    .module;
    height: 414px;
    background-image: url(../../static/assets/28/003.png);
  }
  .module-7 {
    .module;
    height: 241px;
    background-image: url(../../static/assets/28/004.png);
  }
}
