<% page = miniStore21 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维微商城</h2>
            <p>全行业全场景的电商解决方案</p>
            <p>助力企业快速进入品牌电商新时代</p>
          </div>
          <button class="hide-action action-try-4">点击咨询</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>全渠道开店拓客，海量曝光</h2>
            <p>微信、QQ、微博、百度、小程序、支付宝生活号…… 既能从社交平台裂变引流，也能从搜索引擎、门店渠道招揽顾客</p>
            <h2>近百种营销玩法，提升成交</h2>
            <p>给你基于销售和消费大数据的在线营销平台，拉新、 转化、促活、复购、裂变，面面俱到</p>
            <h2>系统化管理客户，更多会员更多成交</h2>
            <p>利用客户画像、权益卡、储值卡等，帮你持续挖掘单客 价值，提升在线服务和导购能力，搭建顾客增值系统</p>
            <h2>轻松管理手机店铺、小程序、品牌官网</h2>
            <p>30+装修组件、50+行业模板一键应用开店，同时拥有具备 在线销售能力的品牌官网</p>
            <h2>渠道聚合</h2>
            <p>门店、大区、总部、员工、加盟商、合伙人…不管经营模式多么复杂，
              都能轻松管理；商品、库存、订单、会员、营销等 8 大模块互联互通，
              快速响应销售需求。让每个渠道发挥价值、实现规模增长。</p>
            <h2>分销拓展销售渠道，让更多人帮你卖货</h2>
            <p>你的员工帮你卖，你的客户帮你卖，490万商家帮你卖</p>
            <h2>百种营销玩法，助力商家提升成交</h2>
            <p>300万家企业的共同选择</p>
          </div>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <button class="hide-action action-try-5">免费试用</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
