<% page = index %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../../layout/head'); -%>
  <body>
    <%- include('../../layout/header'); -%>
    <h1><%= page.title %></h1>
    <div></div>
    <%- include('../../layout/footer'); -%>
  </body>
</html>
