<% page = miniprogram22 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维小程序</h2>
            <p>流量获取场景的营销解决方案</p>
            <p>一体化营销加速流量裂变获取百万流量</p>
          </div>
          <button class="hide-action action-try-4">点击咨询</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>微信好物圈</h2>
            <p>好物圈是微信提供的服务信息管理和物品推荐工具。用户可以在
              这里浏览朋友推荐的物品，与朋友交流心得，还可以为朋友进行推荐。
            </p>
            <h2>微信搜索</h2>
            <p>开通微信搜索后，商家将获得丰富的展示能力。用户可以通过搜索品牌
              名称直达商家，同时，商家的服务和物品也有机会出现在相关搜索结果中。</p>
            <h2>附近小程序</h2>
            <p>小程序添加门店后，当用户在此地点的周围，可在
              微信小程序入口中“附近的小程序”发现并使用小程序提供的服务。</p>
            <h2>商家卡片</h2>
            <p>商家卡片存放在微信-“我”-“卡包”内，用户领取后，可以更 方便地查找和使用商家小程序，随时随地浏览店铺和购买商品。</p>
          </div>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <div class="hide">
            <h2>小程序已成为微信生态内的红利聚集地</h2>
            <h3>流量红利助你轻松获客、裂变、复购</h3>
            <h4>60+入口实现快速获客</h4>
            <p>微信首页任务栏等6大小程序专属入口， 让10亿用户轻松发现你</p>
            <h4>一体化营销加速流量裂变</h4>
            <p>公众号、小程序、微信群互联互通， 流量变现快速高效</p>
            <h4>更佳体验提升付费转化</h4>
            <p>产品体验比H5更流畅，极大程度 降低转化损耗</p>
          </div>
        </div>
      </section>
      <section class="module-4">
        <div class="wrapper">
          <button class="hide-action action-try-5">免费试用</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
