<% page = companyprofile06 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>

  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维成都服务中心</h2>
            <h4>有赞微商城、有赞零售、有赞教育、有赞小程序、有赞学院等</h4>
          </div>
          <button class="hide-action action-try-1">服务咨询</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>成都有赞·六维企业咨询有限公司</h2>
            <p>
              成都六维企业咨询有限公司是中国有赞成都服务商。
              成都六维企业咨询有限公司成立于2013年8月，位于成都立足西南，是一
              家专业电子商务服务机构，同年携手淘宝成立六维电商学院，集合沿海一
              带优秀的电商师资力量和一手的电商信息为西南企业提供：企业培训、人
              才培养、资源对接等深度电商服务，六维电商学院以专业、实战、共赢为
              公司的主要发展目标。
              经过2年的努力和发展，公司先后与淘宝天猫、京东、苏宁、楚楚街、美丽
              说、蘑菇街等10多个电商平台建立良好的合作关系，服务数企业超过1000
              家，整合本地电商服务商超过100家，同时创立了六维商家联盟和六维电商
              俱乐部更好的为西南电商企业提供品牌策划、电商渠道拓展、人才输送、各
              项电商运营服务，使电商企业高效运转、持续盈利。
            </p>
            <p>
              2017年4月，六维签约有赞，共同成立有赞四川运营中心，帮助西南商家开设微商城店铺及小程序，打造运营团队，开拓线上渠道，探索社交电商新模式，实
              现线上线下结合的新零售业务增长和全渠道布局。截止目前，公司在社交电商及新零售方面也取得了显著的成绩和西南广泛商家和各界电商人士的认可和肯定。
              公司在经过6年的发展、蜕变，已成长成为一家具有互联网基因，拥有靠谱成熟的核心团队和完整的服务体系的互联网企业，在未来公司将以其专业度与前瞻性
              和独特的运营模式、服务体系、出色的运营服务团队、客户规模与成功案例，致力发展成为西南最聚影响力和服务力的电商服务平台。
            </p>
          </div>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <div class="hide">
            <h2>公司使命</h2>
            <h4>帮助每一位重视产品和服务的商家成功</h4>
          </div>
        </div>
      </section>
      <section class="module-4">
        <div class="wrapper">
          <div class="hide">
            <h2>公司愿景</h2>
            <h4>
              我们致力于成为商家服务领域最被信任的引领者；并持续作一个 Enjoy
              的组织。
            </h4>
          </div>
        </div>
      </section>
      <section class="module-5">
        <div class="wrapper">
          <div class="hide">
            <h2>企业文化</h2>
            <p>
              有赞是一番值得骄傲的事业，
              在这个旅程中，工作和生活彼此影响，我们付出了自己的精力和时间。这里的每个人都足够聪明、皮实、有要性，会去体验去
              感受，勇于接受新事、新人、新观念和新挑战，并尝试享受工作和生活带来的一切成长和压力，珍惜每一个机会，靠自己，并做最好的自己！咱们相互了解、
              相互理解、彼此成就，既是伙伴又是朋友、既追求目标也同样欣赏沿途的风景，一起Enjoy！
            </p>

            <h5>我们的使命是：</h5>
            <h6>帮助每一位重视产品和服务的商家成功。</h6>
            <p>
              为了达成这个使命，我们总是会更加关注“创造长期价值、追求持续增长”；这样一群有着共同性情的人，乐此不疲、享受其中，共同成长！
            </p>

            <h4>“长期价值”的实现需要持续地“创造并获取价值”。</h4>
            <p>
              商业上：引领更多客户的成功，并得到他们的信任；同时我们自己也获取商业回报。
            </p>
            <p>
              事业上：为客户创造价值、为组织贡献价值，并Enjoy其中；同时获得个人成长和丰厚报酬。
            </p>

            <h4>这就是我们的愿景：</h4>
            <p>
              致力于成为商家服务领域里最被信任的引领者；持续作一个Enjoy的组织。
            </p>

            <p>
              我们相信人性本善，尊重每个人并努力帮助他们发挥最大能量，把最多的精力和资源用来给正能量的人更多激励，在每一个原则性的小事上较真。
            </p>
          </div>
        </div>
      </section>
      <section class="module-6">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维成都服务中心</h2>
            <h4>有赞微商城、有赞零售、有赞教育、有赞小程序、有赞学院等</h4>
          </div>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
