<% page = serviceitems03 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>

  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>您身边靠谱的电商服务伙伴</h2>
            <h4>
              有赞微商城 | 有赞小程序 | 有赞教育 | 有赞零售 分销方案 | 营销应用
              | 直播 | 有赞定制
            </h4>
          </div>
          <button class="hide-action action-try-4">点击咨询</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h3>有赞·六维微商城</h3>
            <h5>全行业全场景的电商解决方案</h5>
            <p>全渠道开店拓客，海量曝光</p>
            <p>系统化管理客户，更多会员更多成交</p>
            <p>近百种营销玩法，提升成交</p>
            <p>轻松管理手机店铺、小程序、品牌官网</p>
            <p>分销拓展销售渠道，让更多人帮你卖货</p>
            <p>百种营销玩法，助力商家提升成交</p>
          </div>
          <button class="hide-action action-try-2 action-1">免费试用</button>
          <button class="hide-action action-try-2 action-2">功能介绍</button>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <div class="hide">
            <h3>有赞·六维小程序</h3>
            <h5>流量获取场景的营销解决方案</h5>
            <p>微信好物圈,提供服务信息管理和物品推荐</p>
            <p>微信搜索,商家将获得丰富的展示能力</p>
            <p>附近小程序,用户在此地点的周围，可发现并使用</p>
            <p>商家卡片,方便地查找和使用商家小程序</p>
          </div>
          <button class="hide-action action-try-2 action-1">免费试用</button>
          <button class="hide-action action-try-2 action-2">功能介绍</button>
        </div>
      </section>
      <section class="module-4">
        <div class="wrapper">
          <div class="hide">
            <h3>有赞·六维教育</h3>
            <h5>教育机构的互联网经营解决方案</h5>
            <p>招生拓客,精细化线索管理降低招生成本</p>
            <p>教务管理，提升体系化运营效率</p>
            <p>学员管理，持续挖掘单客价值，续费有保障</p>
            <p>互动督学，让学员黏性更强</p>
            <p>多业态发展「微商城扩展包」</p>
            <p>多校区，一体化经营管理解决方案</p>
          </div>
          <button class="hide-action action-try-2 action-1">免费试用</button>
          <button class="hide-action action-try-2 action-2">功能介绍</button>
        </div>
      </section>
      <section class="module-5">
        <div class="wrapper">
          <div class="hide">
            <h3>有赞·六维零售</h3>
            <h5>帮你服务好每一个上门的客户</h5>
            <p>开店经营，提升经营效率</p>
            <p>场景营销，满足客户多元化需求</p>
            <p>精细运营，全渠道开店，建立私域流量</p>
            <p>数据决策，帮你快速分析情况、做数据决策</p>
            <p>渠道聚合，快速响应销售需求</p>
            <p>业务协同，模块化操作、业内标准流程指导</p>
          </div>
          <button class="hide-action action-try-2 action-1">免费试用</button>
          <button class="hide-action action-try-2 action-2">功能介绍</button>
        </div>
      </section>
      <section class="module-6">
        <div class="wrapper">
          <div class="hide">
            <h3>有赞·六维分销平台</h3>
            <h5>有赞帮您流量，让更多人为你卖货</h5>
            <p>多方位推广渠道，实现全网分销</p>
            <p>强大的分销系统，满足多样化需求</p>
            <p>支持多种营销工具，快速提升销量</p>
            <p>零库存，一件代发</p>
            <p>不乱价，价格统一</p>
            <p>模式多，易推广，强引流</p>
          </div>
          <button class="hide-action action-try-2 action-1">免费试用</button>
          <button class="hide-action action-try-2 action-2">功能介绍</button>
        </div>
      </section>
      <section class="module-7">
        <div class="wrapper">
          <div class="hide">
            <h3>有赞·六维分销平台</h3>
            <h5>有赞帮您流量，让更多人为你卖货</h5>
            <p>多方位推广渠道，实现全网分销</p>
            <p>强大的分销系统，满足多样化需求</p>
            <p>支持多种营销工具，快速提升销量</p>
            <p>零库存，一件代发</p>
            <p>不乱价，价格统一</p>
            <p>模式多，易推广，强引流</p>
          </div>
          <button class="hide-action action-try-2 action-1">免费试用</button>
          <button class="hide-action action-try-2 action-2">功能介绍</button>
        </div>
      </section>
      <section class="module-8">
        <div class="wrapper">
          <div class="hide">
            <h3>有赞·六维营销应用</h3>
            <h5>流量获取场景的营销解决方案</h5>
            <p>获客拉新，更多精准客户</p>
            <p>下单转化，更多订单和销量</p>
            <p>提高客单，更高销售和利润</p>
            <p>下留存复购，维护老客不流失</p>
          </div>
          <button class="hide-action action-try-2 action-1">免费试用</button>
          <button class="hide-action action-try-2 action-2">功能介绍</button>
        </div>
      </section>
      <section class="module-9">
        <div class="wrapper">
          <div class="hide">
            <h3>有赞·六维直播电商服务</h3>
            <h5>帮助商家、主播搭建直播店铺</h5>
            <p>小程序直播: 有赞 X 爱逛直播</p>
            <p>短视频导购：有赞 X 快手直播</p>
            <p>边看边买，实时导购推荐</p>
            <p>内嵌商城，加速购买决策</p>
            <p>海量优质货源，一键分销</p>
            <p>订单快速处理，售后流程完善</p>
          </div>
          <button class="hide-action action-try-2 action-1">免费试用</button>
          <button class="hide-action action-try-2 action-2">功能介绍</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
