<% page = marketing26 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维营销应用</h2>
            <p>流量获取场景的营销解决方案</p>
            <p>一体化营销加速流量裂变获取百万流量</p>
          </div>
        </div>
        <button class="hide-action action-1">免费试用</button>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>获客拉新</h2>
            <strong>获客拉新，更多精准客户</strong>
            <p>多人拼团，为你带来源源不断的订单和客户</p>
            <p>团购返现，吸引客户传播，带来更多新客</p>
            <p>0元抽奖，低成本裂变获客利器</p>
            <p>砍价0元购，获取新客，提升活跃</p>
            <p>多网点分销，提供完整的经营解决方案</p>
            <p>互动游戏，提升客户参与度</p>
            <p>销售员，让更多人帮你卖货</p>
            <p>好友瓜分券，裂变式获取流量</p>
            <p>我要送礼，分享裂变带来更多流量</p>
            <p>找人代付，社交场景下互动营销新玩法</p>
            <p>有赞礼品卡，推广传播更高效</p>
            <p>有赞心愿单，风靡朋友圈的礼物社交工具</p>
          </div>
          <button class="hide-action action-2 action-try-2">免费试用</button>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <div class="hide">
            <h2>下单转化</h2>
            <strong>下单转化，更多订单和销量</strong>
            <p>优惠券,百搭又实用的营销利器</p>
            <p>降价拍,提升成交转化必备</p>
            <p>订单返现,刺激客户尽早下单</p>
            <p>定金膨胀,提升下单转化率</p>
            <p>限时折扣系统,让打折促销更灵活更省心 </p>
            <p>秒杀软件,拉动店铺人气</p>
            <p>支付有礼,帮你留住客户</p>
            <p>热力图,用数据指导店铺经营</p>
            <p>优惠码,多场景营销互动必备</p>
          </div>
        </div>
      </section>
      <section class="module-4">
        <div class="wrapper">
          <div class="hide">
            <h2>提高客单</h2>
            <strong>提高客单，更高销售和利润</strong>
            <p>优惠套餐，鼓励搭配购买，提升客单价</p>
            <p>满减/送，轻松提升增购复购</p>
            <p>打包一口价，提升销量、促进增购</p>
          </div>
        </div>
      </section>
      <section class="module-5">
        <div class="wrapper">
          <div class="hide">
            <h2>留存复购</h2>
            <strong>留存复购，维护老客不流失</strong>
            <p>积分商城，带来更多忠实、活跃客户</p>
            <p>会员储值系统，为你带来持续复购</p>
            <p>签到系统，让客户活跃度突飞猛进</p>
          </div>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
