<% page = distribution25 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维分销</h2>
            <p>让更多人帮你卖货，帮助传统企业、</p>
            <p>电商、媒体卖家快速获得订单，建立分销网络</p>
          </div>
        </div>
        <button class="hide-action action-try-4">点击咨询</button>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>多方位推广渠道，实现全网分销</h2>
            <p>发动粉丝、员工进行分销，快速招募不断裂变，直接对接百万微商城
              商家和微小店店主，建立全面的分销网络和多方位推广渠道，实现全网分销</p>
            <h2>强大的分销系统，满足多样化需求</h2>
            <p>一键分销，自动分账，操作简便。商品多渠道独立管理，
              库存、订单即时同步。多种模式，提供定制化服务，满足多样化需求</p>
            <h2>支持多种营销工具，快速提升销量</h2>
            <p>丰富多样的营销玩法，专属推广二维码和链接，充分利用微信、社群等进行
              多渠道推广，成本低，带来多更多单；完善的数据报表，对活动效果进行实时监控</p>
            <h2>丰富多样的营销玩法，专属推广二维码和链接，充分利用微信、社群等进行
              多渠道推广，成本低，带来多更多单；完善的数据报表，对活动效果进行实时监控</h2>
            <p>全渠道开店拓客，海量曝光既能从社交平台裂变引流，
              也能从搜索引擎、门店渠道招揽顾客</p>
          </div>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <div class="hide">
            <h2>多种分销模式</h2>
            <h3>贴合不同分销场景</h3>
            <h4>【粉丝帮你分销】</h4>
            <p>招募粉丝，不断裂变，通过佣金激励粉丝将商品分享到微
              信群、朋友圈，实现社群传播，产生订单</p>
            <h4>【员工帮你分销】</h4>
            <p>为企业（加盟连锁）量身定制的分销解决方案，发动企业
              员工、代理商、高级分销员来分销</p>
            <h4>【有赞帮你分销】</h4>
            <p>对接百万微商城商家和微小店店主，专业店主和自媒体大
              号帮你分销，通过朋友圈不断传播，拓展分销渠道</p>
          </div>
        </div>
      </section>
      <section class="module-4">
        <div class="wrapper">
          <button class="hide-action action-try-5">免费试用</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
