<header class="header">
  <a href="" class="header-item">
    <img src="./static/assets/logo.png" alt="" />
  </a>
  <a
    href=""
    class="header-item-text <%= page.grandfather == 'index' ? 'active' : '' %>"
    >首页</a
  >
  <a href="" class="header-item-text">0元咨询</a>
  <a href="" class="header-item-text">服务项目</a>
  <a href="" class="header-item-text">运营服务</a>
  <a href="" class="header-item-text">客户案例</a>
  <a href="" class="header-item-text">公司简介</a>
</header>
