<header class="header">
  <div class="header-item">
    <img src="./static/assets/logo.png" alt="" />
  </div>
  <div class="header-item">首页</div>
  <div class="header-item">0元咨询</div>
  <div class="header-item">服务项目</div>
  <div class="header-item">运营服务</div>
  <div class="header-item">客户案例</div>
  <div class="header-item">公司简介</div>
</header>
