.live27 {
  position: relative;
  .module {
    background: no-repeat top center / auto 100%;
  }
  .module-1 {
    position: relative;
    .module;
    height: 593px;
    background-image: url(../../static/assets/27/001.png);
    .hide-action {
      top: 459px;
      left: 0;
    }
  }
  .module-2 {
    .module;
    height: 866px;
    background-image: url(../../static/assets/27/002.png);
  }
  .module-3 {
    .module;
    height: 815px;
    background-image: url(../../static/assets/27/003.png);
  }
  .module-4 {
    .module;
    height: 608px;
    background-image: url(../../static/assets/27/004.png);
  }
  .module-5 {
    .module;
    height: 241px;
    background-image: url(../../static/assets/22/004.png);
    .hide-action {
      top: 148px;
      left: 551px;
    }
  }
}
