<% page = live27 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维直播</h2>
            <p>帮助商家、主播搭建直播店铺</p>
            <p>提升购买转化，实现流量变现</p>
          </div>
        </div>
        <button class="hide-action action-1">免费试用</button>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>小程序直播: 有赞 X 爱逛直播</h2>
            <h3>爱逛是一款直播购物小程序，打通有赞微商城，主播们给观众讲解商品，边聊边卖，观众可以边看边买</h3>
            <h4>边看边买，实时导购推荐</h4>
            <p>集观看、打赏、购物、分享于一体，在线演示增强信任，实时答疑提高转化</p>
            <h4>内嵌商城，加速购买决策</h4>
            <p>一键打通商城后台，边播边卖无需额外跳转，轻松完成商城直播升级</p>
            <h4>在线营销，推进品牌曝光</h4>
            <p>抽奖、发券、拼团、分销…数十种营销玩法，顾客一键转发、裂变百万流量</p>
            <h4>满足各种类推广场景，随时随地卖货变现</h4>
            <p>直播导购、产品展示、新品发布、主播变现...帮商家/主播将“流量”变成“销量”</p>
          </div>
          <button class="hide-action action-2 action-try-2">免费试用</button>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <div class="hide">
            <h2>短视频导购：有赞 X 快手直播</h2>
            <h3>打通快手平台，顾客可在短视频、直播页面直接购买有赞商品</h3>
            <h4>丰富的展示样式</h4>
            <p>自定义商品详情页，满足个性化需求</p>
            <h4>打通有赞后台</h4>
            <p>边看边买，无需跳转电商平台，购买转化率更高</p>
            <h4>海量优质货源，一键分销</h4>
            <p>直接在分销市场选择上架，没货也能分销</p>
            <h4>订单快速处理，售后流程完善
            </h4>
            <p>订单管理、数据分析、资金处理便捷高效</p>
          </div>
          <button class="hide-action action-2 action-try-2">免费试用</button>
        </div>
      </section>
      <section class="module-4">
        <div class="wrapper">
          <div class="hide">
            <h2>直播、短视频等多种导购场景</h2>
            <h3>有赞精选攻略，为您提供专业的解决方案</h3>
            <h4>【直播导购】</h4>
            <p>借助直播先天优势，通过现场互动、实物演示、在线答疑，增强顾 客信任，加速购买决策。用有赞打通直播平台，轻松实现边播边卖。</p>
            <h4>【短视频导购】</h4>
            <p>边对接主流短视频平台，借助短视频推荐商品，引导观众边看边买。 商品、订单、客户、资金有赞店铺后台统一管理，省时省心。</p>
          </div>
          <button class="hide-action action-2 action-try-2">免费试用</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
