<% page = price02 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>0元咨询服务开启</h2>
          </div>
          <button class="hide-action action-try-3">点击进入</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>我的服务</h2>
            <h4>全行业全场景的电商解决方案</h4>
            <h3>商城搭建</h3>
            <p>为您完整搭建商城，从店铺首页至公众号小程序，为您配置完全</p>
            <h3>标识VI设计</h3>
            <p>
              了解您的公司名称与设计需求，结合行业属性，打造符合公司形象的标识。
            </p>
            <h3>详情页制作</h3>
            <p>从产品以及行业的了解中针对商场装修提供更高转化率的详情页面。</p>
            <h3>自媒体托管</h3>
            <p>搭建属于自媒体自己的有赞商城以及微信公众号</p>
            <h3>代运营</h3>
            <p>为项目配置专属的运营团队，以数据作为基础，让运营更高效。</p>
            <h3>运营咨询</h3>
            <p>10项必要性运营咨询辅导，让您对商城和公众号更加熟悉易操作。</p>
            <h3>产品拍摄</h3>
            <p>摄影提供静物白底拍摄以及场景定制拍摄，让商品充满生命力</p>
            <h3>有赞教育</h3>
            <p>
              有赞·六维平台定制专属商城服务、营销方案以及团队运营的代运营服务
            </p>
            <h3>原创图文撰写</h3>
            <p>定位店铺与受众，提炼精准卖点引发共鸣，打造细腻的浏览体验。</p>
          </div>
          <button class="hide-action action-try-2 action-1">了解更多</button>
          <button class="hide-action action-try-2 action-2">了解更多</button>
          <button class="hide-action action-try-2 action-3">了解更多</button>
          <button class="hide-action action-try-2 action-4">了解更多</button>
          <button class="hide-action action-try-2 action-5">了解更多</button>
          <button class="hide-action action-try-2 action-6">了解更多</button>
          <button class="hide-action action-try-2 action-7">了解更多</button>
          <button class="hide-action action-try-2 action-8">了解更多</button>
          <button class="hide-action action-try-2 action-9">了解更多</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
