<% page = retail24 %>
<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head'); -%>
  <body>
    <%- include('../layout-header/header'); -%>
    <div class="<%= page.pageName %>">
      <section class="module-1">
        <div class="wrapper">
          <div class="hide">
            <h2>有赞·六维零售</h2>
            <p>全渠道一体化经营工具</p>
            <p>帮助零售商家门店网店双增长</p>
          </div>
          <button class="hide-action action-try-4">点击咨询</button>
        </div>
      </section>
      <section class="module-2">
        <div class="wrapper">
          <div class="hide">
            <h2>开店经营</h2>
            <p>采购智能化、销售场景化、库存信息化，
              更适合门店经营的进销存系统，提升经营效率</p>
            <h2>场景营销</h2>
            <p>多人拼团、秒杀等营销玩法吸引客户在线下单
              聚焦三大场景：客户到店、服务到家、离店复购，满足客户多元化需求。</p>
            <h2>精细运营</h2>
            <p>全渠道开店，线上线下同步营销，实现联动获客、流量互通；
              会员、储值、积分等活动，私有化客户资产，建立私域流量；
              智能分析客户画像、消费习惯，精细化管理会员，带来复购和裂变。</p>
            <h2>数据决策</h2>
            <p>增长、运营、供应链、财务…有赞零售为每一个经营角色
              提供专属数据视窗，让你轻松掌握经营数据、帮你快速分析经营情况、
              给你准确的经营建议，帮助你做数据决策。</p>
            <h2>渠道聚合</h2>
            <p>门店、大区、总部、员工、加盟商、合伙人…不管经营模式多么复杂，
              都能轻松管理；商品、库存、订单、会员、营销等 8 大模块互联互通，
              快速响应销售需求。让每个渠道发挥价值、实现规模增长。</p>
            <h2>业务协同</h2>
            <p>模块化操作、业内标准流程指导，让你轻松培训、智能经营；电脑、手机、
              Pad…多端实时同步；ERP、WMS、DMP…数据智能汇集统一管理；
              软硬件灵活操作，人财物统一管理，万物协同，高效经营</p>
          </div>
        </div>
      </section>
      <section class="module-3">
        <div class="wrapper">
          <div class="hide">
            <h2>一键生成小程序商城卖货</h2>
            <h3>专业的人做专业的事，7年技术积累，深耕零售行业，有赞更懂你</h3>
          </div>
        </div>
      </section>
      <section class="module-4">
        <div class="wrapper">
          <div class="hide">
            <h2>微页面策划营销场景</h2>
          </div>
        </div>
      </section>
      <section class="module-5">
        <div class="wrapper">
          <button class="hide-action action-try-5">免费试用</button>
        </div>
      </section>
    </div>
    <%- include('../layout-footer/footer'); -%>
  </body>
</html>
