.retail24 {
  position: relative;
  .module {
    background: no-repeat top center / auto 100%;
  }
  .module-1 {
    position: relative;
    .module;
    height: 593px;
    background-image: url(../../static/assets/24/001.png);
    .action-1 {
      width: 163px;
      height: 54px;
      position: absolute;
      left: 353px;
      bottom: 80px;
      background-color: #d83d28;
    }
  }
  .module-2 {
    .module;
    height: 2108px;
    background-image: url(../../static/assets/24/002.png);
  }
  .module-3 {
    .module;
    height: 826px;
    background-image: url(../../static/assets/24/003.png);
  }
  .module-4 {
    .module;
    height: 838px;
    background-image: url(../../static/assets/24/004.png);
  }
  .module-5 {
    .module;
    height: 241px;
    background-image: url(../../static/assets/24/005.png);
  }
}
