<div class="phone-dialog">
  <img data-src="/static/assets/dialog-input.png" class="bg" alt="" />
  <div class="phone-dialog-wrapper">
    <div class="close"></div>
    <input placeholder="请输入您的手机号码" class="input" type="tel" />
    <button class="submit-action-1">价格咨询</button>
    <button class="submit-action-2">立即服务</button>
  </div>
</div>
<footer class="footer">
  <div class="wrapper">
    <div class="left">
      <nav>
        <h5>
          <a href="https://www.scyouzan.cn/">有赞·六维服务商</a>
        </h5>
        <a href="https://www.scyouzan.cn/">有赞·六维简介</a>
        <a href="https://www.scyouzan.cn/">公司简介</a>
        <a href="https://www.scyouzan.cn/aboutus/">客户案例</a>
      </nav>
      <nav>
        <h5>
          <a href="https://www.scyouzan.cn/services/">服务项目</a>
        </h5>
        <a href="https://www.scyouzan.cn/services/wsc/">有赞微商城</a>
        <a href="https://www.scyouzan.cn/services/xcx/">有赞小程序</a>
        <a href="https://www.scyouzan.cn/services/jy/">有赞教育</a>
        <a href="https://www.scyouzan.cn/services/ls/">有赞零售</a>
        <a href="https://www.scyouzan.cn/services/fxpt/">有赞分销平台</a>
        <a href="https://www.scyouzan.cn/services/yxyy/">有赞营销应用</a>
        <a href="https://www.scyouzan.cn/services/zbds/">有赞直播</a>
        <a href="https://www.scyouzan.cn/services/lwdz/">有赞定制</a>
      </nav>
      <nav>
        <h5>
          <a href="https://www.scyouzan.cn/operations/">运营服务</a>
        </h5>
        <a href="https://www.scyouzan.cn/operations/">商城搭建</a>
        <a href="https://www.scyouzan.cn/operations/">标识VI设计</a>
        <a href="https://www.scyouzan.cn/operations/">详情页制作</a>
        <a href="https://www.scyouzan.cn/operations/">自媒体托管</a>
        <a href="https://www.scyouzan.cn/operations/">代运营</a>
        <a href="https://www.scyouzan.cn/operations/">运营咨询</a>
        <a>......</a>
      </nav>
      <nav>
        <h5>
          <a href="https://www.scyouzan.cn/">快捷导航</a>
        </h5>
        <a href="https://www.scyouzan.cn/0yuan/">有赞定制</a>
        <a href="https://www.scyouzan.cn/operations/">运营服务</a>
        <a href="https://www.scyouzan.cn/0yuan/">联系有赞</a>
        <a href="https://www.scyouzan.cn/0yuan/">在线咨询</a>
      </nav>
    </div>
    <div class="right">
      <div class="phone">
        <span>电话：158-0235-1430</span>
      </div>
      <div class="mail">
        <span>邮箱：610671687@qq.com</span>
      </div>
      <div class="position">
        <span>地址：成都市高新区天府大道中段666号希顿国际广场B座3002号</span>
      </div>
    </div>
    <div class="qrcode">
      <img src="/static/assets/qrcode.png" alt="" />
      <span>扫码申请试用</span>
    </div>
  </div>
  <div class="copy-right">COPYRIGHT (©) 2020 成都六维企业咨询有限公司</div>
</footer>
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/swiper-4.5.3/js/swiper.min.js"></script>
<script src="/js/<%= page.pageName %>.js"></script>
<script src="/static/js/common.js"></script>
