.footer {
  background: #262626;
  padding-top: 65px;
  .wrapper {
    width: 1216px;
    margin: 0 auto;
    display: flex;
    .left {
      display: flex;
      nav {
      }
      nav + nav {
        margin-left: 40px;
      }
      a {
        margin: 0.5em 0;
        display: block;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        text-decoration: none;
      }
      h5 {
        margin: 0;
        a {
          font-size: 20px;
          margin: 0 0 0.8em;
        }
      }
    }
    .right {
      flex: 1;
      margin-left: 72px;

      .item {
        font-size: 16px;
        line-height: 24px;
        padding: (50px - 24px) * 0.5;
        color: #fff;
        background: no-repeat left 10px;
        background-size: 30px;
        padding-left: 45px;
        width: 300px;
      }
      .phone {
        .item;
        background-image: url(../../static/assets/icon-phone.png);
      }
      .mail {
        .item;
        background-image: url(../../static/assets/icon-mail.png);
      }
      .position {
        .item;
        background-image: url(../../static/assets/icon-position.png);
      }
    }
    .qrcode {
      img {
        display: block;
        width: 100%;
      }
      span {
        margin-top: 24px;
        display: block;
        text-align: center;
        color: #fff;
        font-size: 16px;
      }
    }
  }
  .copy-right {
    color: #fff;
    text-align: center;
    line-height: 70px;
  }
}
